<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="../style/style.css">
    <title>Farmacia || Littel broder</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white" :class="{ active: isScrolled }">
        <div class="container-md flex-nowrap justify-content-between">
            <a class="navbar-brand fw-bolder" href="#">LOGO</a>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item"><a class="nav-link" href="">Inicio</a></li>
                    <li class="nav-item"> <a class="nav-link" href="">Detalles</a></li>
                    <li class="nav-item"><a class="nav-link" href="./assets/pages/farm.html">Farmacia</a></li>
                    <li class="nav-item"> <a class="nav-link" href="">Juguetes</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Contacto</a></li>
                </ul>
            </div>
            <div class="fs-5 navbar-icons d-flex align-items-center">
                <button class="navbar-toggler border border-black" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <i class="bi bi-cart-fill"></i>
                <i class="bi bi-person-fill" v-on:click="toggleActive"></i>
            </div>
            <transition name="fade">
                <form class="form-login" v-show="active">
                    <h3>iniciar sesión</h3>
                    <div class="form-floating mb-3">
                        <input type="email" name="email" id="email" placeholder="Email" class="form-control border-top-0 border-start-0 border-end-0 rounded-0" autocomplete="current-email">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" id="password" placeholder="Contraseña" class="form-control border-top-0 border-start-0 border-end-0 rounded-0" autocomplete="current-password">
                        <label for="password">Contraseña</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="checkbox" id="remember-me">
                        <label for="remember-me">Recuérdame</label>
                    </div>
                    <input type="submit" value="Iniciar sesión" class="btn btn-submit">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <a class="form-link" href="">¿Olvidaste tu contraseña?</a>
                        <a class="form-link" href="">Registrarse</a>
                    </div>
                    </form>
            </transition>
        </div>
    </nav>

    <header class="d-flex align-items-center justify-content-end">
        <div class="container-header">
            <h3><span>bienvenido</span> a ano pet shop</h3>
            <a href="" class="btn btn-white">compra ahora</a>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250"><path fill="#ffffff" fill-opacity="1" d="M0,160L34.3,181.3C68.6,203,137,245,206,240C274.3,235,343,181,411,176C480,171,549,213,617,213.3C685.7,213,754,171,823,138.7C891.4,107,960,85,1029,96C1097.1,107,1166,149,1234,149.3C1302.9,149,1371,107,1406,85.3L1440,64L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
    </header>
    <div id="app">

        <main class="d-flex m-2 flex-column">
            <div class="d-flex w-50 container" id="radios">
                <div class="radio-button-container d-flex gap-3">
                    <div class="radio-button d-flex gap-1">
                    <input type="radio" class="radio-button__input" id="mayor" name="radio" v-on:click="filtroPrecioMayor()">
                    <label class="radio-button__label" for="mayor">
                      <span class="radio-button__custom"></span>
                      Mayor-Menor
                    </label>
                  </div>
                  <div class="radio-button d-flex gap-1">
                    <input type="radio" class="radio-button__input" id="menor" name="radio" v-on:click="filtroPrecioMenor()">
                    <label class="radio-button__label" for="menor">
                      <span class="radio-button__custom"></span>
                     Menor-Mayor
                    </label>
                  </div>
                  <div class="radio-button d-flex gap-1">
                    <input type="radio" class="radio-button__input" id="aleatorio" name="radio">
                    <label class="radio-button__label" for="aleatorio">
                      <span class="radio-button__custom"></span>
                      Aleatorio
                    </label>
                  </div>
                  </div>
            </div>
            <div class="d-flex flex-wrap gap-3 align-items-center container justify-content-center">   
            <template v-if="arrayFarmacia.length>0" v-for="producto of arrayFarmacia">
                <div class="cardProducto">
                    <img :src="producto.imagen" class="card-img">
                    <div class="card-info-producto">
                        <p class="text-title">{{producto.producto}}</p>
                        <p class="text-body"></p>
                    </div>
                    <div class="card-footer-producto">
                        <span class="text-title">$ {{producto.precio}}</span>
                    <div class="card-button-producto">
                            <svg class="svg-icon" viewBox="0 0 20 20">
                                <path
                                    d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z">
                                </path>
                                <path
                                    d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z">
                                </path>
                                <path
                                    d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z">
                                </path>
                            </svg>
            </template>
        </div>
    </div>
    </main>
    </div>
    <footer class="container p-3">
        <div class="cardFooter">
            <span>Social</span>
            <a class="social-link" href="#">
                <i class="bi bi-instagram "></i>
            </a>
            <a class="social-link" href="#">
                <i class="bi bi-whatsapp"></i>
            </a>
            <a class="social-link" href="#">
                <i class="bi bi-facebook"></i>
            </a>
            <a class="social-link" href="#">
                <i class="bi bi-twitter"></i>
            </a>
          </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/farm.js"></script>
</body>

</html>