@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root {
    --color-carrot: #e67e22;
    --color-black: #130f40;
    --color-gray: #666;
    --color-bg-light: #eee;
    --border-primary: .2rem solid var(--color-black);
    --box-shadow-primary: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-carrot);
        border-radius: 5rem;
    }
}

.btn {
    display: inline-block;
    margin: 1.5rem 0;
    padding: .8rem 2.8rem;
    border-radius: 5rem;
    border-top-left-radius: 0;
    border: var(--border-primary);
    cursor: pointer;
    background: none;
    color: black;
    font-size: 1.7rem;
    overflow: hidden;
    z-index: 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--color-black);
        z-index: -1;
        transition: .2s linear;
        clip-path: circle(0% at 0% 5%);
    }

    &:hover::before {
        clip-path: circle(100%);
    }

    &:hover {
        border: var(--border-primary);
        color: white;
        background: var(--color-black);
    }
}
.btn-submit {
    width: 100%;
    text-align: center;
}
.btn-white {
    color: white;
    border-color: white;

    &:hover {
        color: var(--color-black);
    }

    &::before {
        background: white;
    }
}

nav.navbar {
    padding: 2rem 9%;
    box-shadow: var(--box-shadow-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-10rem);

    &.active {
        transform: translateY(0rem);
    }
}
.navbar-nav a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--color-gray);

    &:hover {
        color: var(--color-carrot);
    }
}
.navbar-brand {
    font-size: 3rem;
    color: var(--color-black);
}
.navbar-icons i {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--color-black);
    cursor: pointer;

    &:hover {
        color: var(--color-carrot);
    }
}

.form-login {
    position: absolute;
    top: 115%;
    right: 2rem;
    width: 35rem;
    border-radius: .5rem;
    background: white;
    box-shadow: var(--box-shadow-primary);
    padding: 2rem;

    & h3 {
        color: var(--color-black);
        font-size: 2.5rem;
        padding-bottom: .5rem;
    }

    & .form-floating input {
        width: 100%;
        border-bottom: var(--border-primary);
        border-width: .1rem;
        padding: 1.5rem 0;
        font-size: 1.6rem;
        color: var(--color-black);
        text-transform: none;
        margin: 1rem 0;
    }

    & .form-check {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 1rem 0;

        & label {
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--color-gray);
        }
    }

    & .form-link {
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--color-carrot);

        &:hover {
            color: var(--color-black);
            text-decoration: underline;
        }
    }
    animation: fadeIn .4s linear;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .4s, transform .4s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(3rem);
}

header {
    min-height: 100vh;
    background: url(../images/bg_header.jpeg) no-repeat;
    background-size: cover;
    background-position: 50% 25%;
    padding: 5rem 9%;
    position: relative;
    
    & .container-header {
        width: 50rem;
        
        & h3 {
            font-size: 6rem;
            color: white;
            padding-bottom: 1rem;

            & span {
                color: var(--color-carrot);
            }
        }
    }

    & svg {
        position: absolute;
        bottom: 0; left: 0;
        width: 100%;
    }
}

section {
    padding: 5rem 9%;
}

section.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    & .image {
        flex: 1 1 40rem;

        & img {
            width: 100%;
        }
    }

    & .container-about {
        flex: 1 1 40rem;

        & h3 {
            color: var(--color-black);
            font-size: 4rem;

            & span {
                color: var(--color-carrot);
            }
        }

        & p {
            font-size: 1.6rem;
            color: var(--color-gray);
            padding: 1rem 0;
            line-height: 2;
        }
    }
}

.cardProducto {
    max-width: 30rem;
    min-height: 30rem;
    padding: .8em;
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    position: relative;
    overflow: visible;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img-producto{
    background-color: #ffcaa6;
    border-radius: .5rem;
    transition: .3s ease;
    height: 20rem;
   }
   .card-footer-producto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    border-top:1px solid #e67e22;
   }
   .card-img-producto:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    nav {
        padding: 2rem;
    }
    header {
        padding: 5rem 2rem;
        justify-content: center;
        background-position: right;

        & .container-header {
            text-align: center;
            padding-bottom: 5rem;

            & h3 {
                font-size: 4.5rem;
            }
        }
    }
    section {
        padding: 5rem 2rem;
    }
}

@media (max-width:768px) {
    nav {
        & .navbar-nav {
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: white;

            & a {
                display: block;
                margin: 2rem;
                font-size: 2rem;
            }
        }

        & .navbar-toggler {
            display: inline-block;
        }
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    nav .form-login {
        width: 90%;
    }
}
